@use "sass:list";
@use "sass:map";

// @see utopia.space.sp.css
$spaces: (2xs, xs, s, m, l, xl, 2xl, 3xl, 4xl);
$scales: (2xs: 0.05, xs: 0.2, s: 0.5, m: 1, l: 3, xl: 6, 2xl: 12, 3xl: 36, 4xl: 104);
$sides: (bs: block-start, b: block, be: block-end, is: inline-start, i: inline, ie: inline-end);

$position: start, center, end;
$position_all: list.join($position, (space-around, space-evenly, space-between));
$position_align: list.join($position, justify);

$strengths: thin, medium, thick;

$aspect_ratios: ('auto': 'auto', '16-9': '16 / 9', '3-2': '3 / 2', '4-3': '4 / 3', '5-4': '5 / 4', '6-5': '6 / 5', '1-1': '1 / 1');

/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */

$letter_spacing: (xs: -0.1em, s: -0.06em, l: 0.06em, xl: 0.1em);
$background_size: cover, contain;
$mix_blend_mode: normal, multiply, screen, overlay, darken, lighten, color-dodge, color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color, luminosity;

// Helper function to retrieve map successor / predecessor
@function list-neighbour($list, $value, $delta) {
  $idx: list.index($list, $value) + $delta;

  @if ($idx > 0 and $idx <= list.length($list)) {
    @return list.nth($list, $idx);
  }
  @else {
    @return null;
  }
}

@function map-neighbour($map, $value, $delta) {
  @return(list-neighbour(map.keys($map), $value, $delta));
}
