.layout-builder__add-block,
.layout-builder__add-section {
  text-align: center;
  background-color: var(--color-lb-gray-light);
  border: thin dashed var(--color-lb-gray-medium);
}

.layout-builder__link--add,
.layout-builder__link--remove,
.layout-builder__link--configure {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0.4em 0.6em;
  text-decoration: none;
  color: var(--color-lb-gray-medium);
  border: thin solid var(--color-lb-gray-medium);
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
}
.layout-builder__link--add:is(:hover, :focus),
.layout-builder__link--remove:is(:hover, :focus),
.layout-builder__link--configure:is(:hover, :focus) {
  color: var(--color-lb-black);
}

.is-layout-builder-highlighted {
  outline: medium dashed var(--color-lb-highlight);
}

/**
 * Remove "You have unsaved changes" warning because Layout Builder always has
 * unsaved changes until "Save layout" is submitted.
 * @todo create issue for todo.
 */
.layout-builder-components-table .tabledrag-changed-warning {
  display: none !important;
}
