form.layout-builder-form .form-actions {
  column-gap: 0.5em;
  padding-inline: var(--sp-s);
  background-color: var(--color-lb-gray-light);
  /* fixed primary form-action */
}
@media (width > 60rem) {
  body:not(.js-off-canvas-dialog-open) form.layout-builder-form .form-actions {
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin: unset;
    width: 60%;
  }
  body:not(.js-off-canvas-dialog-open) form.layout-builder-form .form-actions .button {
    height: var(--sp-l);
    font-size: 0.8rem;
  }
}
