.layout-builder__section .ui-sortable-helper {
  outline: 2px solid var(--color-lb-gray-light);
  background-color: var(--color-lb-white);
}
.layout-builder__section:has(.layout-builder__link:hover, .layout-builder__link:focus) {
  background-color: rgba(var(--color-lb-drop), 0.1);
}
.layout-builder__section:has(.layout-builder__link:hover, .layout-builder__link:focus) > .layout-builder__layout > .layout-builder__region {
  outline: 4px solid rgb(var(--color-lb-drop));
}
.layout-builder__section .ui-state-drop {
  outline: medium solid rgb(var(--color-lb-drop));
  background-color: rgba(var(--color-lb-drop), 0.1);
}
.layout-builder__section .layout-builder__section-label {
  display: none;
}
.layout-builder--move-blocks-active .layout-builder__section .layout-builder__section-label {
  display: inline;
}

.layout-builder__region {
  position: relative;
}
.layout-builder__region .layout-builder__region-label {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0.2em;
  color: rgb(var(--color-lb-accent));
  background-color: white;
  font-size: 0.8rem;
  display: none;
}
.layout-builder__region:is(:hover, :focus) {
  outline: medium dashed rgb(var(--color-lb-accent));
}
.layout-builder__region:is(:hover, :focus) .layout-builder__region-label {
  display: block;
}
.layout-builder__region:is(:hover, :focus) .layout-builder-block {
  background-color: rgba(var(--color-lb-accent), 0.1);
  background-clip: content-box;
}

.layout-builder-block {
  cursor: move;
  /* unset height modifiers from size.scss
  They cause overflows in combination with
  css grid from outer layout and "add block" div below */
}
.layout-builder-block [tabindex="-1"] {
  pointer-events: none;
}
.layout-builder .layout-builder-block {
  height: unset;
}

/* Label when "content preview" is disabled. */
.layout-builder-block__content-preview-placeholder-label {
  font-size: var(--fs-2);
  text-align: center;
}
