@use "sass:color";

:root {
  --color-lb-white: white;
  --color-lb-gray-light: #eee;
  --color-lb-gray-medium: gray;
  --color-lb-gray-dark: #444;
  --color-lb-black: black;
  --color-lb-accent: 128, 0, 128; // purple
  --color-lb-drop: 0, 0, 256; // blue
}
