form.layout-builder-form {
  .form-actions {
    column-gap: 0.5em;
    padding-inline: var(--sp-s);
    background-color: var(--color-lb-gray-light);

    /* fixed primary form-action */
    body:not(.js-off-canvas-dialog-open) & {
      @media (width > 60rem) {
        position: fixed;
        z-index: 1;
        bottom: 0;
        margin: unset;

        // Leave some space to not break drag&drop scrolling to the bottom
        width: 60%;

        .button {
          height: var(--sp-l);
          font-size: 0.8rem;
        }

        // justify-content: center;
      }
    }
  }
}
