.messages {
  .layout-builder__message & {
    background-repeat: no-repeat;
  }
  .layout-builder__message--defaults & {
    background-image: url("../../../misc/icons/73b355/globe.svg");
  }
  .layout-builder__message--overrides & {
    background-image: url("../../../misc/icons/73b355/location.svg");
  }
}
