// .block-entity-blockmedia {
//   height: 100%;
//   .block_content {
//     height: 100%;
//   }
// }

// Forward grid item height to nested media holder: <img>, <picture> or <video>
// @todo this is so ugly. Isn't there a cleaner expression? container queries?
.forward-height {
  height: 100%;

  * {
    height: 100%;
  }
}

@each $fit in 'cover', 'contain', 'scale-down', 'none' {
  .of-#{$fit} {
    :is(img, picture, video) {
      height: 100%;
      object-fit: #{$fit};
    }
  }
}
