#drupal-off-canvas-wrapper {
  .button {
    margin: unset;
  }
  [data-drupal-selector="edit-actions-submit"] {
  --off-canvas-button-font-size: 1.4rem;
  --off-canvas-button-padding: var(--off-canvas-vertical-spacing-unit) 1.25rem;
  }
}