#drupal-off-canvas-wrapper {
  details[id*=-block-start-],
  details[id$=-block-end-] {
    >.details-wrapper {
      display: flex;
      flex-direction: column;

      .form-item {
        margin-block: unset;
      }

    }
  }

  details[id*=-inline-start-] >.details-wrapper {
    display: flex;
    justify-content: start;
    gap: var(--off-canvas-vertical-spacing-unit);
  }
  
  details[id*=-inline-end-] >.details-wrapper {
    display: flex;
    justify-content: end;
    gap: var(--off-canvas-vertical-spacing-unit);
  }
}