body.entity-segment {
  /* Remove default container padding and let site builders select it in layout-builder */
  .region--content {
    margin-inline: calc(var(--container-padding, var(--sp-m-l)) * -1);
  }
}

.region > .block-system-main-block {
  margin: unset;
}
