.forward-height {
  height: 100%;
}
.forward-height * {
  height: 100%;
}

.of-cover :is(img, picture, video) {
  height: 100%;
  object-fit: cover;
}

.of-contain :is(img, picture, video) {
  height: 100%;
  object-fit: contain;
}

.of-scale-down :is(img, picture, video) {
  height: 100%;
  object-fit: scale-down;
}

.of-none :is(img, picture, video) {
  height: 100%;
  object-fit: none;
}
