#drupal-off-canvas-wrapper details[id*=-block-start-] > .details-wrapper,
#drupal-off-canvas-wrapper details[id$=-block-end-] > .details-wrapper {
  display: flex;
  flex-direction: column;
}
#drupal-off-canvas-wrapper details[id*=-block-start-] > .details-wrapper .form-item,
#drupal-off-canvas-wrapper details[id$=-block-end-] > .details-wrapper .form-item {
  margin-block: unset;
}
#drupal-off-canvas-wrapper details[id*=-inline-start-] > .details-wrapper {
  display: flex;
  justify-content: start;
  gap: var(--off-canvas-vertical-spacing-unit);
}
#drupal-off-canvas-wrapper details[id*=-inline-end-] > .details-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--off-canvas-vertical-spacing-unit);
}
