@use "../options" as *;

.ba-fixed {
  background-attachment: fixed;
}

.bp-center {
  background-position: center;
}

@each $value in $background_size {
  .bs-#{$value} {
    background-size: $value;
  }
}
