@use "sass:math";
@use "../options" as *;

$step: 20vh;
@for $i from 1 through ceil(math.div(100vh, $step)) {
  $height: 20vh * $i;
  .mh-#{$height} {
    min-height: $height;
  }
}

$alpha: 0.7;
.lb-bo {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, $alpha);
    z-index: 0;
  }

  &>* {
    z-index: 100;
    position: relative;
  }
}
