@use "../options" as *;
@use "sass:map";

@each $value in $strengths {
  @each $side in map.keys($sides) {
		.b#{$side}-#{$value} {
			border-#{map.get($sides, $side)}: $value solid var(--border-color, CurrentColor);
		}
	}
}
