@use "sass:list";
@use "../options" as *;

@each $value in $position {
  .ji-#{$value} {
    justify-items: $value;
  }

  .ai-#{$value} {
    align-items: $value;
  }

  .pi-#{$value} {
    place-items: $value;
  }

  .layout__region {
    @if $value == "center" {
    &:has(> .ps-#{$value}) {
      place-self: $value;
    }
    }
    &:has(> .as-#{$value}) {
      align-self: $value;
    }

    &:has(> .js-#{$value}) {
      justify-self: $value;
    }
  }
}

@each $value in $position_all {
  .jc-#{$value} {
    justify-content: $value;
  }

  .ac-#{$value} {
    align-content: $value;
  }
}