@use "../options" as *;
@use "sass:map";

@mixin gap($space) {
	.gc-#{$space} {
		column-gap: var(--sp-#{$space});
	}
	.gr-#{$space} {
		row-gap: var(--sp-#{$space});
	}
}

@each $space in $spaces {
  /* static */
  @include gap($space);

  $successor: list-neighbour($spaces, $space, 1);
  @if $successor {
    /* growing */
    @include gap($space + '-' + $successor);
  }
  $predecessor: list-neighbour($spaces, $space, -1);
  @if $predecessor {
    /* shrinking */
    @include gap($space + '-' + $predecessor);
  }
}
