@use "../options" as *;
@use "sass:map";

:where(h1, h2, h3, h4, h4, h5, h6) {
  @each $value in $position_align {
    .ha-#{$value} & {
      text-align: $value;
    }
  }

  @each $size in map.keys($letter_spacing) {
    .hls-#{$size} & {
      letter-spacing: map.get($letter_spacing, $size);
    }
  }

  @each $transform in lowercase, uppercase, capitalize, full-width {
    .ht-#{$transform} & {
      text-transform: #{$transform};
    }
  }
}
