@use "../options" as *;
@use "sass:map";

@each $side in start, end {
  .float-#{$side} {
    float: inline-#{$side};
  }

  // suspress in layout builder using an overwrite
  .layout-builder.layout-builder--content-preview-disabled .float-#{$side} {
    float: initial;
    background-color: var(--color--gray-70);
  }
}

@each $value in $spaces {
  .sticky-#{$value} {
    position: sticky;
    top: var(--sp-#{$value});
  }
}