@use "../options" as *;
@use "sass:map";

@mixin margin($space) {
  @each $side in map.keys($sides) {
		.m#{$side}-#{$space} {
			margin-#{map.get($sides, $side)}: var(--sp-#{$space});
		}
	}

  // negative
  @each $side in map.keys($sides) {
    .m#{$side}-#{$space}-n {
      margin-#{map.get($sides, $side)}: calc(var(--sp-#{$space}) * -1);
    }
  }
}

/* static */
@each $space in $spaces {
  @include margin($space);
}

/* responsive growing */
@each $space in $spaces {
  $successor: list-neighbour($spaces, $space, 1);
  @if $successor {
    @include margin($space + '-' + $successor);
  }
}

/* responsive shrinking */
@each $space in $spaces {
  $predecessor: list-neighbour($spaces, $space, -1);
  @if $predecessor {
    @include margin($space + '-' + $predecessor);
  }
}
