@use "../options" as *;
@use "sass:map";

@mixin padding($space) {
  @each $side in map.keys($sides) {
		.p#{$side}-#{$space} {
			padding-#{map.get($sides, $side)}: var(--sp-#{$space});
		}
	}
}

/* static */
@each $space in $spaces {
  @include padding($space);
}

/* responsive growing */
@each $space in $spaces {
  $successor: list-neighbour($spaces, $space, 1);
  @if $successor {
    @include padding($space + '-' + $successor);
  }
}

/* responsive shrinking */
@each $space in $spaces {
  $predecessor: list-neighbour($spaces, $space, -1);
  @if $predecessor {
    @include padding($space + '-' + $predecessor);
  }
}