@use "../options" as *;

@each $size, $scale in $scales {
    .r-#{$size}:not(.layout) {
      @if $scale == 1 {
        border-radius: var(--border-radius, 0.2rem);
      } @else {
        border-radius: calc(var(--border-radius, 0.2rem) * $scale);
      }
      // contain: content;
    }
}

@each $size, $scale in $scales {
  .r-#{$size}.layout {
    .field__item > :is(img, svg), [class*="cb-"] {
      @if $scale == 1 {
          border-radius: var(--border-radius, 0.2rem);
      } @else {
          border-radius: calc(var(--border-radius, 0.2rem) * $scale);
      }
    }
    // contain: content;
  }
}