@use "../options" as *;
@use "sass:math";
@use "sass:map";
@use "sass:string";

@each $ratio in map.keys($aspect_ratios) {
  .aspect-#{$ratio} {
    aspect-ratio: #{map.get($aspect_ratios, $ratio)};
  }
}

@each $dim in 'width', 'height' {
  $char: string.slice($dim, 1, 1);
  
  $max: 100;
  $step: 20;
  $steps: math.ceil(math.div($max, $step));
  @for $i from 1 through $steps {
    $value: $step * $i;

    .#{$char}-#{$value} {
      #{$dim}: #{$value * 1%};
    }
  }

  $max: 100;
  $step: 5;
  $steps: math.ceil(math.div($max, $step));
  @for $i from 1 through $steps {
    $value: $step * $i;

    .#{$char}-max-#{$value}rem {
      max-#{$dim}: #{$value}rem;
    }
  }
}