@use "../options" as *;
@use "sass:map";

@each $value in $position_align {
  .ta-#{$value} {
    text-align: $value;
  }
}

@each $size in map.keys($letter_spacing) {
  .ls-#{$size} {
    letter-spacing: map.get($letter_spacing, $size);
  }
}

.ellipsis :is(p, a) {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word {
  word-wrap: break-word;
}