@use "sass:math";

$step: 5;
$max: 80;

// container width show
@for $i from 1 through ceil(math.div($max, $step)) {
  $rem: $step * $i;

  @container(width < #{$rem * 1rem}) {
    .cws-#{$rem} {
      display: none;
    }
  }
}

// container width hide
@for $i from 1 through ceil(math.div($max, $step)) {
  $rem: $step * $i;

  @container(width > #{$rem * 1rem}) {
    .cwh-#{$rem} {
      display: none;
    }
  }
}