/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.ba-fixed {
  background-attachment: fixed;
}

.bp-center {
  background-position: center;
}

.bs-cover {
  background-size: cover;
}

.bs-contain {
  background-size: contain;
}
