/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.mh-20vh {
  min-height: 20vh;
}

.mh-40vh {
  min-height: 40vh;
}

.mh-60vh {
  min-height: 60vh;
}

.mh-80vh {
  min-height: 80vh;
}

.mh-100vh {
  min-height: 100vh;
}

.lb-bo {
  position: relative;
}
.lb-bo:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.lb-bo > * {
  z-index: 100;
  position: relative;
}
