/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.bbs-thin {
  border-block-start: thin solid var(--border-color, CurrentColor);
}

.bb-thin {
  border-block: thin solid var(--border-color, CurrentColor);
}

.bbe-thin {
  border-block-end: thin solid var(--border-color, CurrentColor);
}

.bis-thin {
  border-inline-start: thin solid var(--border-color, CurrentColor);
}

.bi-thin {
  border-inline: thin solid var(--border-color, CurrentColor);
}

.bie-thin {
  border-inline-end: thin solid var(--border-color, CurrentColor);
}

.bbs-medium {
  border-block-start: medium solid var(--border-color, CurrentColor);
}

.bb-medium {
  border-block: medium solid var(--border-color, CurrentColor);
}

.bbe-medium {
  border-block-end: medium solid var(--border-color, CurrentColor);
}

.bis-medium {
  border-inline-start: medium solid var(--border-color, CurrentColor);
}

.bi-medium {
  border-inline: medium solid var(--border-color, CurrentColor);
}

.bie-medium {
  border-inline-end: medium solid var(--border-color, CurrentColor);
}

.bbs-thick {
  border-block-start: thick solid var(--border-color, CurrentColor);
}

.bb-thick {
  border-block: thick solid var(--border-color, CurrentColor);
}

.bbe-thick {
  border-block-end: thick solid var(--border-color, CurrentColor);
}

.bis-thick {
  border-inline-start: thick solid var(--border-color, CurrentColor);
}

.bi-thick {
  border-inline: thick solid var(--border-color, CurrentColor);
}

.bie-thick {
  border-inline-end: thick solid var(--border-color, CurrentColor);
}
