/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.ji-start {
  justify-items: start;
}

.ai-start {
  align-items: start;
}

.pi-start {
  place-items: start;
}

.layout__region:has(> .as-start) {
  align-self: start;
}
.layout__region:has(> .js-start) {
  justify-self: start;
}

.ji-center {
  justify-items: center;
}

.ai-center {
  align-items: center;
}

.pi-center {
  place-items: center;
}

.layout__region:has(> .ps-center) {
  place-self: center;
}
.layout__region:has(> .as-center) {
  align-self: center;
}
.layout__region:has(> .js-center) {
  justify-self: center;
}

.ji-end {
  justify-items: end;
}

.ai-end {
  align-items: end;
}

.pi-end {
  place-items: end;
}

.layout__region:has(> .as-end) {
  align-self: end;
}
.layout__region:has(> .js-end) {
  justify-self: end;
}

.jc-start {
  justify-content: start;
}

.ac-start {
  align-content: start;
}

.jc-center {
  justify-content: center;
}

.ac-center {
  align-content: center;
}

.jc-end {
  justify-content: end;
}

.ac-end {
  align-content: end;
}

.jc-space-around {
  justify-content: space-around;
}

.ac-space-around {
  align-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ac-space-evenly {
  align-content: space-evenly;
}

.jc-space-between {
  justify-content: space-between;
}

.ac-space-between {
  align-content: space-between;
}
