/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.ha-start :where(h1, h2, h3, h4, h4, h5, h6) {
  text-align: start;
}
.ha-center :where(h1, h2, h3, h4, h4, h5, h6) {
  text-align: center;
}
.ha-end :where(h1, h2, h3, h4, h4, h5, h6) {
  text-align: end;
}
.ha-justify :where(h1, h2, h3, h4, h4, h5, h6) {
  text-align: justify;
}
.hls-xs :where(h1, h2, h3, h4, h4, h5, h6) {
  letter-spacing: -0.1em;
}
.hls-s :where(h1, h2, h3, h4, h4, h5, h6) {
  letter-spacing: -0.06em;
}
.hls-l :where(h1, h2, h3, h4, h4, h5, h6) {
  letter-spacing: 0.06em;
}
.hls-xl :where(h1, h2, h3, h4, h4, h5, h6) {
  letter-spacing: 0.1em;
}
.ht-lowercase :where(h1, h2, h3, h4, h4, h5, h6) {
  text-transform: lowercase;
}
.ht-uppercase :where(h1, h2, h3, h4, h4, h5, h6) {
  text-transform: uppercase;
}
.ht-capitalize :where(h1, h2, h3, h4, h4, h5, h6) {
  text-transform: capitalize;
}
.ht-full-width :where(h1, h2, h3, h4, h4, h5, h6) {
  text-transform: full-width;
}
