/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.float-start {
  float: inline-start;
}

.layout-builder.layout-builder--content-preview-disabled .float-start {
  float: initial;
  background-color: var(--color--gray-70);
}

.float-end {
  float: inline-end;
}

.layout-builder.layout-builder--content-preview-disabled .float-end {
  float: initial;
  background-color: var(--color--gray-70);
}

.sticky-2xs {
  position: sticky;
  top: var(--sp-2xs);
}

.sticky-xs {
  position: sticky;
  top: var(--sp-xs);
}

.sticky-s {
  position: sticky;
  top: var(--sp-s);
}

.sticky-m {
  position: sticky;
  top: var(--sp-m);
}

.sticky-l {
  position: sticky;
  top: var(--sp-l);
}

.sticky-xl {
  position: sticky;
  top: var(--sp-xl);
}

.sticky-2xl {
  position: sticky;
  top: var(--sp-2xl);
}

.sticky-3xl {
  position: sticky;
  top: var(--sp-3xl);
}

.sticky-4xl {
  position: sticky;
  top: var(--sp-4xl);
}
