/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
/* static */
.mbs-2xs {
  margin-block-start: var(--sp-2xs);
}

.mb-2xs {
  margin-block: var(--sp-2xs);
}

.mbe-2xs {
  margin-block-end: var(--sp-2xs);
}

.mis-2xs {
  margin-inline-start: var(--sp-2xs);
}

.mi-2xs {
  margin-inline: var(--sp-2xs);
}

.mie-2xs {
  margin-inline-end: var(--sp-2xs);
}

.mbs-2xs-n {
  margin-block-start: calc(var(--sp-2xs) * -1);
}

.mb-2xs-n {
  margin-block: calc(var(--sp-2xs) * -1);
}

.mbe-2xs-n {
  margin-block-end: calc(var(--sp-2xs) * -1);
}

.mis-2xs-n {
  margin-inline-start: calc(var(--sp-2xs) * -1);
}

.mi-2xs-n {
  margin-inline: calc(var(--sp-2xs) * -1);
}

.mie-2xs-n {
  margin-inline-end: calc(var(--sp-2xs) * -1);
}

.mbs-xs {
  margin-block-start: var(--sp-xs);
}

.mb-xs {
  margin-block: var(--sp-xs);
}

.mbe-xs {
  margin-block-end: var(--sp-xs);
}

.mis-xs {
  margin-inline-start: var(--sp-xs);
}

.mi-xs {
  margin-inline: var(--sp-xs);
}

.mie-xs {
  margin-inline-end: var(--sp-xs);
}

.mbs-xs-n {
  margin-block-start: calc(var(--sp-xs) * -1);
}

.mb-xs-n {
  margin-block: calc(var(--sp-xs) * -1);
}

.mbe-xs-n {
  margin-block-end: calc(var(--sp-xs) * -1);
}

.mis-xs-n {
  margin-inline-start: calc(var(--sp-xs) * -1);
}

.mi-xs-n {
  margin-inline: calc(var(--sp-xs) * -1);
}

.mie-xs-n {
  margin-inline-end: calc(var(--sp-xs) * -1);
}

.mbs-s {
  margin-block-start: var(--sp-s);
}

.mb-s {
  margin-block: var(--sp-s);
}

.mbe-s {
  margin-block-end: var(--sp-s);
}

.mis-s {
  margin-inline-start: var(--sp-s);
}

.mi-s {
  margin-inline: var(--sp-s);
}

.mie-s {
  margin-inline-end: var(--sp-s);
}

.mbs-s-n {
  margin-block-start: calc(var(--sp-s) * -1);
}

.mb-s-n {
  margin-block: calc(var(--sp-s) * -1);
}

.mbe-s-n {
  margin-block-end: calc(var(--sp-s) * -1);
}

.mis-s-n {
  margin-inline-start: calc(var(--sp-s) * -1);
}

.mi-s-n {
  margin-inline: calc(var(--sp-s) * -1);
}

.mie-s-n {
  margin-inline-end: calc(var(--sp-s) * -1);
}

.mbs-m {
  margin-block-start: var(--sp-m);
}

.mb-m {
  margin-block: var(--sp-m);
}

.mbe-m {
  margin-block-end: var(--sp-m);
}

.mis-m {
  margin-inline-start: var(--sp-m);
}

.mi-m {
  margin-inline: var(--sp-m);
}

.mie-m {
  margin-inline-end: var(--sp-m);
}

.mbs-m-n {
  margin-block-start: calc(var(--sp-m) * -1);
}

.mb-m-n {
  margin-block: calc(var(--sp-m) * -1);
}

.mbe-m-n {
  margin-block-end: calc(var(--sp-m) * -1);
}

.mis-m-n {
  margin-inline-start: calc(var(--sp-m) * -1);
}

.mi-m-n {
  margin-inline: calc(var(--sp-m) * -1);
}

.mie-m-n {
  margin-inline-end: calc(var(--sp-m) * -1);
}

.mbs-l {
  margin-block-start: var(--sp-l);
}

.mb-l {
  margin-block: var(--sp-l);
}

.mbe-l {
  margin-block-end: var(--sp-l);
}

.mis-l {
  margin-inline-start: var(--sp-l);
}

.mi-l {
  margin-inline: var(--sp-l);
}

.mie-l {
  margin-inline-end: var(--sp-l);
}

.mbs-l-n {
  margin-block-start: calc(var(--sp-l) * -1);
}

.mb-l-n {
  margin-block: calc(var(--sp-l) * -1);
}

.mbe-l-n {
  margin-block-end: calc(var(--sp-l) * -1);
}

.mis-l-n {
  margin-inline-start: calc(var(--sp-l) * -1);
}

.mi-l-n {
  margin-inline: calc(var(--sp-l) * -1);
}

.mie-l-n {
  margin-inline-end: calc(var(--sp-l) * -1);
}

.mbs-xl {
  margin-block-start: var(--sp-xl);
}

.mb-xl {
  margin-block: var(--sp-xl);
}

.mbe-xl {
  margin-block-end: var(--sp-xl);
}

.mis-xl {
  margin-inline-start: var(--sp-xl);
}

.mi-xl {
  margin-inline: var(--sp-xl);
}

.mie-xl {
  margin-inline-end: var(--sp-xl);
}

.mbs-xl-n {
  margin-block-start: calc(var(--sp-xl) * -1);
}

.mb-xl-n {
  margin-block: calc(var(--sp-xl) * -1);
}

.mbe-xl-n {
  margin-block-end: calc(var(--sp-xl) * -1);
}

.mis-xl-n {
  margin-inline-start: calc(var(--sp-xl) * -1);
}

.mi-xl-n {
  margin-inline: calc(var(--sp-xl) * -1);
}

.mie-xl-n {
  margin-inline-end: calc(var(--sp-xl) * -1);
}

.mbs-2xl {
  margin-block-start: var(--sp-2xl);
}

.mb-2xl {
  margin-block: var(--sp-2xl);
}

.mbe-2xl {
  margin-block-end: var(--sp-2xl);
}

.mis-2xl {
  margin-inline-start: var(--sp-2xl);
}

.mi-2xl {
  margin-inline: var(--sp-2xl);
}

.mie-2xl {
  margin-inline-end: var(--sp-2xl);
}

.mbs-2xl-n {
  margin-block-start: calc(var(--sp-2xl) * -1);
}

.mb-2xl-n {
  margin-block: calc(var(--sp-2xl) * -1);
}

.mbe-2xl-n {
  margin-block-end: calc(var(--sp-2xl) * -1);
}

.mis-2xl-n {
  margin-inline-start: calc(var(--sp-2xl) * -1);
}

.mi-2xl-n {
  margin-inline: calc(var(--sp-2xl) * -1);
}

.mie-2xl-n {
  margin-inline-end: calc(var(--sp-2xl) * -1);
}

.mbs-3xl {
  margin-block-start: var(--sp-3xl);
}

.mb-3xl {
  margin-block: var(--sp-3xl);
}

.mbe-3xl {
  margin-block-end: var(--sp-3xl);
}

.mis-3xl {
  margin-inline-start: var(--sp-3xl);
}

.mi-3xl {
  margin-inline: var(--sp-3xl);
}

.mie-3xl {
  margin-inline-end: var(--sp-3xl);
}

.mbs-3xl-n {
  margin-block-start: calc(var(--sp-3xl) * -1);
}

.mb-3xl-n {
  margin-block: calc(var(--sp-3xl) * -1);
}

.mbe-3xl-n {
  margin-block-end: calc(var(--sp-3xl) * -1);
}

.mis-3xl-n {
  margin-inline-start: calc(var(--sp-3xl) * -1);
}

.mi-3xl-n {
  margin-inline: calc(var(--sp-3xl) * -1);
}

.mie-3xl-n {
  margin-inline-end: calc(var(--sp-3xl) * -1);
}

.mbs-4xl {
  margin-block-start: var(--sp-4xl);
}

.mb-4xl {
  margin-block: var(--sp-4xl);
}

.mbe-4xl {
  margin-block-end: var(--sp-4xl);
}

.mis-4xl {
  margin-inline-start: var(--sp-4xl);
}

.mi-4xl {
  margin-inline: var(--sp-4xl);
}

.mie-4xl {
  margin-inline-end: var(--sp-4xl);
}

.mbs-4xl-n {
  margin-block-start: calc(var(--sp-4xl) * -1);
}

.mb-4xl-n {
  margin-block: calc(var(--sp-4xl) * -1);
}

.mbe-4xl-n {
  margin-block-end: calc(var(--sp-4xl) * -1);
}

.mis-4xl-n {
  margin-inline-start: calc(var(--sp-4xl) * -1);
}

.mi-4xl-n {
  margin-inline: calc(var(--sp-4xl) * -1);
}

.mie-4xl-n {
  margin-inline-end: calc(var(--sp-4xl) * -1);
}

/* responsive growing */
.mbs-2xs-xs {
  margin-block-start: var(--sp-2xs-xs);
}

.mb-2xs-xs {
  margin-block: var(--sp-2xs-xs);
}

.mbe-2xs-xs {
  margin-block-end: var(--sp-2xs-xs);
}

.mis-2xs-xs {
  margin-inline-start: var(--sp-2xs-xs);
}

.mi-2xs-xs {
  margin-inline: var(--sp-2xs-xs);
}

.mie-2xs-xs {
  margin-inline-end: var(--sp-2xs-xs);
}

.mbs-2xs-xs-n {
  margin-block-start: calc(var(--sp-2xs-xs) * -1);
}

.mb-2xs-xs-n {
  margin-block: calc(var(--sp-2xs-xs) * -1);
}

.mbe-2xs-xs-n {
  margin-block-end: calc(var(--sp-2xs-xs) * -1);
}

.mis-2xs-xs-n {
  margin-inline-start: calc(var(--sp-2xs-xs) * -1);
}

.mi-2xs-xs-n {
  margin-inline: calc(var(--sp-2xs-xs) * -1);
}

.mie-2xs-xs-n {
  margin-inline-end: calc(var(--sp-2xs-xs) * -1);
}

.mbs-xs-s {
  margin-block-start: var(--sp-xs-s);
}

.mb-xs-s {
  margin-block: var(--sp-xs-s);
}

.mbe-xs-s {
  margin-block-end: var(--sp-xs-s);
}

.mis-xs-s {
  margin-inline-start: var(--sp-xs-s);
}

.mi-xs-s {
  margin-inline: var(--sp-xs-s);
}

.mie-xs-s {
  margin-inline-end: var(--sp-xs-s);
}

.mbs-xs-s-n {
  margin-block-start: calc(var(--sp-xs-s) * -1);
}

.mb-xs-s-n {
  margin-block: calc(var(--sp-xs-s) * -1);
}

.mbe-xs-s-n {
  margin-block-end: calc(var(--sp-xs-s) * -1);
}

.mis-xs-s-n {
  margin-inline-start: calc(var(--sp-xs-s) * -1);
}

.mi-xs-s-n {
  margin-inline: calc(var(--sp-xs-s) * -1);
}

.mie-xs-s-n {
  margin-inline-end: calc(var(--sp-xs-s) * -1);
}

.mbs-s-m {
  margin-block-start: var(--sp-s-m);
}

.mb-s-m {
  margin-block: var(--sp-s-m);
}

.mbe-s-m {
  margin-block-end: var(--sp-s-m);
}

.mis-s-m {
  margin-inline-start: var(--sp-s-m);
}

.mi-s-m {
  margin-inline: var(--sp-s-m);
}

.mie-s-m {
  margin-inline-end: var(--sp-s-m);
}

.mbs-s-m-n {
  margin-block-start: calc(var(--sp-s-m) * -1);
}

.mb-s-m-n {
  margin-block: calc(var(--sp-s-m) * -1);
}

.mbe-s-m-n {
  margin-block-end: calc(var(--sp-s-m) * -1);
}

.mis-s-m-n {
  margin-inline-start: calc(var(--sp-s-m) * -1);
}

.mi-s-m-n {
  margin-inline: calc(var(--sp-s-m) * -1);
}

.mie-s-m-n {
  margin-inline-end: calc(var(--sp-s-m) * -1);
}

.mbs-m-l {
  margin-block-start: var(--sp-m-l);
}

.mb-m-l {
  margin-block: var(--sp-m-l);
}

.mbe-m-l {
  margin-block-end: var(--sp-m-l);
}

.mis-m-l {
  margin-inline-start: var(--sp-m-l);
}

.mi-m-l {
  margin-inline: var(--sp-m-l);
}

.mie-m-l {
  margin-inline-end: var(--sp-m-l);
}

.mbs-m-l-n {
  margin-block-start: calc(var(--sp-m-l) * -1);
}

.mb-m-l-n {
  margin-block: calc(var(--sp-m-l) * -1);
}

.mbe-m-l-n {
  margin-block-end: calc(var(--sp-m-l) * -1);
}

.mis-m-l-n {
  margin-inline-start: calc(var(--sp-m-l) * -1);
}

.mi-m-l-n {
  margin-inline: calc(var(--sp-m-l) * -1);
}

.mie-m-l-n {
  margin-inline-end: calc(var(--sp-m-l) * -1);
}

.mbs-l-xl {
  margin-block-start: var(--sp-l-xl);
}

.mb-l-xl {
  margin-block: var(--sp-l-xl);
}

.mbe-l-xl {
  margin-block-end: var(--sp-l-xl);
}

.mis-l-xl {
  margin-inline-start: var(--sp-l-xl);
}

.mi-l-xl {
  margin-inline: var(--sp-l-xl);
}

.mie-l-xl {
  margin-inline-end: var(--sp-l-xl);
}

.mbs-l-xl-n {
  margin-block-start: calc(var(--sp-l-xl) * -1);
}

.mb-l-xl-n {
  margin-block: calc(var(--sp-l-xl) * -1);
}

.mbe-l-xl-n {
  margin-block-end: calc(var(--sp-l-xl) * -1);
}

.mis-l-xl-n {
  margin-inline-start: calc(var(--sp-l-xl) * -1);
}

.mi-l-xl-n {
  margin-inline: calc(var(--sp-l-xl) * -1);
}

.mie-l-xl-n {
  margin-inline-end: calc(var(--sp-l-xl) * -1);
}

.mbs-xl-2xl {
  margin-block-start: var(--sp-xl-2xl);
}

.mb-xl-2xl {
  margin-block: var(--sp-xl-2xl);
}

.mbe-xl-2xl {
  margin-block-end: var(--sp-xl-2xl);
}

.mis-xl-2xl {
  margin-inline-start: var(--sp-xl-2xl);
}

.mi-xl-2xl {
  margin-inline: var(--sp-xl-2xl);
}

.mie-xl-2xl {
  margin-inline-end: var(--sp-xl-2xl);
}

.mbs-xl-2xl-n {
  margin-block-start: calc(var(--sp-xl-2xl) * -1);
}

.mb-xl-2xl-n {
  margin-block: calc(var(--sp-xl-2xl) * -1);
}

.mbe-xl-2xl-n {
  margin-block-end: calc(var(--sp-xl-2xl) * -1);
}

.mis-xl-2xl-n {
  margin-inline-start: calc(var(--sp-xl-2xl) * -1);
}

.mi-xl-2xl-n {
  margin-inline: calc(var(--sp-xl-2xl) * -1);
}

.mie-xl-2xl-n {
  margin-inline-end: calc(var(--sp-xl-2xl) * -1);
}

.mbs-2xl-3xl {
  margin-block-start: var(--sp-2xl-3xl);
}

.mb-2xl-3xl {
  margin-block: var(--sp-2xl-3xl);
}

.mbe-2xl-3xl {
  margin-block-end: var(--sp-2xl-3xl);
}

.mis-2xl-3xl {
  margin-inline-start: var(--sp-2xl-3xl);
}

.mi-2xl-3xl {
  margin-inline: var(--sp-2xl-3xl);
}

.mie-2xl-3xl {
  margin-inline-end: var(--sp-2xl-3xl);
}

.mbs-2xl-3xl-n {
  margin-block-start: calc(var(--sp-2xl-3xl) * -1);
}

.mb-2xl-3xl-n {
  margin-block: calc(var(--sp-2xl-3xl) * -1);
}

.mbe-2xl-3xl-n {
  margin-block-end: calc(var(--sp-2xl-3xl) * -1);
}

.mis-2xl-3xl-n {
  margin-inline-start: calc(var(--sp-2xl-3xl) * -1);
}

.mi-2xl-3xl-n {
  margin-inline: calc(var(--sp-2xl-3xl) * -1);
}

.mie-2xl-3xl-n {
  margin-inline-end: calc(var(--sp-2xl-3xl) * -1);
}

.mbs-3xl-4xl {
  margin-block-start: var(--sp-3xl-4xl);
}

.mb-3xl-4xl {
  margin-block: var(--sp-3xl-4xl);
}

.mbe-3xl-4xl {
  margin-block-end: var(--sp-3xl-4xl);
}

.mis-3xl-4xl {
  margin-inline-start: var(--sp-3xl-4xl);
}

.mi-3xl-4xl {
  margin-inline: var(--sp-3xl-4xl);
}

.mie-3xl-4xl {
  margin-inline-end: var(--sp-3xl-4xl);
}

.mbs-3xl-4xl-n {
  margin-block-start: calc(var(--sp-3xl-4xl) * -1);
}

.mb-3xl-4xl-n {
  margin-block: calc(var(--sp-3xl-4xl) * -1);
}

.mbe-3xl-4xl-n {
  margin-block-end: calc(var(--sp-3xl-4xl) * -1);
}

.mis-3xl-4xl-n {
  margin-inline-start: calc(var(--sp-3xl-4xl) * -1);
}

.mi-3xl-4xl-n {
  margin-inline: calc(var(--sp-3xl-4xl) * -1);
}

.mie-3xl-4xl-n {
  margin-inline-end: calc(var(--sp-3xl-4xl) * -1);
}

/* responsive shrinking */
.mbs-xs-2xs {
  margin-block-start: var(--sp-xs-2xs);
}

.mb-xs-2xs {
  margin-block: var(--sp-xs-2xs);
}

.mbe-xs-2xs {
  margin-block-end: var(--sp-xs-2xs);
}

.mis-xs-2xs {
  margin-inline-start: var(--sp-xs-2xs);
}

.mi-xs-2xs {
  margin-inline: var(--sp-xs-2xs);
}

.mie-xs-2xs {
  margin-inline-end: var(--sp-xs-2xs);
}

.mbs-xs-2xs-n {
  margin-block-start: calc(var(--sp-xs-2xs) * -1);
}

.mb-xs-2xs-n {
  margin-block: calc(var(--sp-xs-2xs) * -1);
}

.mbe-xs-2xs-n {
  margin-block-end: calc(var(--sp-xs-2xs) * -1);
}

.mis-xs-2xs-n {
  margin-inline-start: calc(var(--sp-xs-2xs) * -1);
}

.mi-xs-2xs-n {
  margin-inline: calc(var(--sp-xs-2xs) * -1);
}

.mie-xs-2xs-n {
  margin-inline-end: calc(var(--sp-xs-2xs) * -1);
}

.mbs-s-xs {
  margin-block-start: var(--sp-s-xs);
}

.mb-s-xs {
  margin-block: var(--sp-s-xs);
}

.mbe-s-xs {
  margin-block-end: var(--sp-s-xs);
}

.mis-s-xs {
  margin-inline-start: var(--sp-s-xs);
}

.mi-s-xs {
  margin-inline: var(--sp-s-xs);
}

.mie-s-xs {
  margin-inline-end: var(--sp-s-xs);
}

.mbs-s-xs-n {
  margin-block-start: calc(var(--sp-s-xs) * -1);
}

.mb-s-xs-n {
  margin-block: calc(var(--sp-s-xs) * -1);
}

.mbe-s-xs-n {
  margin-block-end: calc(var(--sp-s-xs) * -1);
}

.mis-s-xs-n {
  margin-inline-start: calc(var(--sp-s-xs) * -1);
}

.mi-s-xs-n {
  margin-inline: calc(var(--sp-s-xs) * -1);
}

.mie-s-xs-n {
  margin-inline-end: calc(var(--sp-s-xs) * -1);
}

.mbs-m-s {
  margin-block-start: var(--sp-m-s);
}

.mb-m-s {
  margin-block: var(--sp-m-s);
}

.mbe-m-s {
  margin-block-end: var(--sp-m-s);
}

.mis-m-s {
  margin-inline-start: var(--sp-m-s);
}

.mi-m-s {
  margin-inline: var(--sp-m-s);
}

.mie-m-s {
  margin-inline-end: var(--sp-m-s);
}

.mbs-m-s-n {
  margin-block-start: calc(var(--sp-m-s) * -1);
}

.mb-m-s-n {
  margin-block: calc(var(--sp-m-s) * -1);
}

.mbe-m-s-n {
  margin-block-end: calc(var(--sp-m-s) * -1);
}

.mis-m-s-n {
  margin-inline-start: calc(var(--sp-m-s) * -1);
}

.mi-m-s-n {
  margin-inline: calc(var(--sp-m-s) * -1);
}

.mie-m-s-n {
  margin-inline-end: calc(var(--sp-m-s) * -1);
}

.mbs-l-m {
  margin-block-start: var(--sp-l-m);
}

.mb-l-m {
  margin-block: var(--sp-l-m);
}

.mbe-l-m {
  margin-block-end: var(--sp-l-m);
}

.mis-l-m {
  margin-inline-start: var(--sp-l-m);
}

.mi-l-m {
  margin-inline: var(--sp-l-m);
}

.mie-l-m {
  margin-inline-end: var(--sp-l-m);
}

.mbs-l-m-n {
  margin-block-start: calc(var(--sp-l-m) * -1);
}

.mb-l-m-n {
  margin-block: calc(var(--sp-l-m) * -1);
}

.mbe-l-m-n {
  margin-block-end: calc(var(--sp-l-m) * -1);
}

.mis-l-m-n {
  margin-inline-start: calc(var(--sp-l-m) * -1);
}

.mi-l-m-n {
  margin-inline: calc(var(--sp-l-m) * -1);
}

.mie-l-m-n {
  margin-inline-end: calc(var(--sp-l-m) * -1);
}

.mbs-xl-l {
  margin-block-start: var(--sp-xl-l);
}

.mb-xl-l {
  margin-block: var(--sp-xl-l);
}

.mbe-xl-l {
  margin-block-end: var(--sp-xl-l);
}

.mis-xl-l {
  margin-inline-start: var(--sp-xl-l);
}

.mi-xl-l {
  margin-inline: var(--sp-xl-l);
}

.mie-xl-l {
  margin-inline-end: var(--sp-xl-l);
}

.mbs-xl-l-n {
  margin-block-start: calc(var(--sp-xl-l) * -1);
}

.mb-xl-l-n {
  margin-block: calc(var(--sp-xl-l) * -1);
}

.mbe-xl-l-n {
  margin-block-end: calc(var(--sp-xl-l) * -1);
}

.mis-xl-l-n {
  margin-inline-start: calc(var(--sp-xl-l) * -1);
}

.mi-xl-l-n {
  margin-inline: calc(var(--sp-xl-l) * -1);
}

.mie-xl-l-n {
  margin-inline-end: calc(var(--sp-xl-l) * -1);
}

.mbs-2xl-xl {
  margin-block-start: var(--sp-2xl-xl);
}

.mb-2xl-xl {
  margin-block: var(--sp-2xl-xl);
}

.mbe-2xl-xl {
  margin-block-end: var(--sp-2xl-xl);
}

.mis-2xl-xl {
  margin-inline-start: var(--sp-2xl-xl);
}

.mi-2xl-xl {
  margin-inline: var(--sp-2xl-xl);
}

.mie-2xl-xl {
  margin-inline-end: var(--sp-2xl-xl);
}

.mbs-2xl-xl-n {
  margin-block-start: calc(var(--sp-2xl-xl) * -1);
}

.mb-2xl-xl-n {
  margin-block: calc(var(--sp-2xl-xl) * -1);
}

.mbe-2xl-xl-n {
  margin-block-end: calc(var(--sp-2xl-xl) * -1);
}

.mis-2xl-xl-n {
  margin-inline-start: calc(var(--sp-2xl-xl) * -1);
}

.mi-2xl-xl-n {
  margin-inline: calc(var(--sp-2xl-xl) * -1);
}

.mie-2xl-xl-n {
  margin-inline-end: calc(var(--sp-2xl-xl) * -1);
}

.mbs-3xl-2xl {
  margin-block-start: var(--sp-3xl-2xl);
}

.mb-3xl-2xl {
  margin-block: var(--sp-3xl-2xl);
}

.mbe-3xl-2xl {
  margin-block-end: var(--sp-3xl-2xl);
}

.mis-3xl-2xl {
  margin-inline-start: var(--sp-3xl-2xl);
}

.mi-3xl-2xl {
  margin-inline: var(--sp-3xl-2xl);
}

.mie-3xl-2xl {
  margin-inline-end: var(--sp-3xl-2xl);
}

.mbs-3xl-2xl-n {
  margin-block-start: calc(var(--sp-3xl-2xl) * -1);
}

.mb-3xl-2xl-n {
  margin-block: calc(var(--sp-3xl-2xl) * -1);
}

.mbe-3xl-2xl-n {
  margin-block-end: calc(var(--sp-3xl-2xl) * -1);
}

.mis-3xl-2xl-n {
  margin-inline-start: calc(var(--sp-3xl-2xl) * -1);
}

.mi-3xl-2xl-n {
  margin-inline: calc(var(--sp-3xl-2xl) * -1);
}

.mie-3xl-2xl-n {
  margin-inline-end: calc(var(--sp-3xl-2xl) * -1);
}

.mbs-4xl-3xl {
  margin-block-start: var(--sp-4xl-3xl);
}

.mb-4xl-3xl {
  margin-block: var(--sp-4xl-3xl);
}

.mbe-4xl-3xl {
  margin-block-end: var(--sp-4xl-3xl);
}

.mis-4xl-3xl {
  margin-inline-start: var(--sp-4xl-3xl);
}

.mi-4xl-3xl {
  margin-inline: var(--sp-4xl-3xl);
}

.mie-4xl-3xl {
  margin-inline-end: var(--sp-4xl-3xl);
}

.mbs-4xl-3xl-n {
  margin-block-start: calc(var(--sp-4xl-3xl) * -1);
}

.mb-4xl-3xl-n {
  margin-block: calc(var(--sp-4xl-3xl) * -1);
}

.mbe-4xl-3xl-n {
  margin-block-end: calc(var(--sp-4xl-3xl) * -1);
}

.mis-4xl-3xl-n {
  margin-inline-start: calc(var(--sp-4xl-3xl) * -1);
}

.mi-4xl-3xl-n {
  margin-inline: calc(var(--sp-4xl-3xl) * -1);
}

.mie-4xl-3xl-n {
  margin-inline-end: calc(var(--sp-4xl-3xl) * -1);
}
