/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
/* static */
.pbs-2xs {
  padding-block-start: var(--sp-2xs);
}

.pb-2xs {
  padding-block: var(--sp-2xs);
}

.pbe-2xs {
  padding-block-end: var(--sp-2xs);
}

.pis-2xs {
  padding-inline-start: var(--sp-2xs);
}

.pi-2xs {
  padding-inline: var(--sp-2xs);
}

.pie-2xs {
  padding-inline-end: var(--sp-2xs);
}

.pbs-xs {
  padding-block-start: var(--sp-xs);
}

.pb-xs {
  padding-block: var(--sp-xs);
}

.pbe-xs {
  padding-block-end: var(--sp-xs);
}

.pis-xs {
  padding-inline-start: var(--sp-xs);
}

.pi-xs {
  padding-inline: var(--sp-xs);
}

.pie-xs {
  padding-inline-end: var(--sp-xs);
}

.pbs-s {
  padding-block-start: var(--sp-s);
}

.pb-s {
  padding-block: var(--sp-s);
}

.pbe-s {
  padding-block-end: var(--sp-s);
}

.pis-s {
  padding-inline-start: var(--sp-s);
}

.pi-s {
  padding-inline: var(--sp-s);
}

.pie-s {
  padding-inline-end: var(--sp-s);
}

.pbs-m {
  padding-block-start: var(--sp-m);
}

.pb-m {
  padding-block: var(--sp-m);
}

.pbe-m {
  padding-block-end: var(--sp-m);
}

.pis-m {
  padding-inline-start: var(--sp-m);
}

.pi-m {
  padding-inline: var(--sp-m);
}

.pie-m {
  padding-inline-end: var(--sp-m);
}

.pbs-l {
  padding-block-start: var(--sp-l);
}

.pb-l {
  padding-block: var(--sp-l);
}

.pbe-l {
  padding-block-end: var(--sp-l);
}

.pis-l {
  padding-inline-start: var(--sp-l);
}

.pi-l {
  padding-inline: var(--sp-l);
}

.pie-l {
  padding-inline-end: var(--sp-l);
}

.pbs-xl {
  padding-block-start: var(--sp-xl);
}

.pb-xl {
  padding-block: var(--sp-xl);
}

.pbe-xl {
  padding-block-end: var(--sp-xl);
}

.pis-xl {
  padding-inline-start: var(--sp-xl);
}

.pi-xl {
  padding-inline: var(--sp-xl);
}

.pie-xl {
  padding-inline-end: var(--sp-xl);
}

.pbs-2xl {
  padding-block-start: var(--sp-2xl);
}

.pb-2xl {
  padding-block: var(--sp-2xl);
}

.pbe-2xl {
  padding-block-end: var(--sp-2xl);
}

.pis-2xl {
  padding-inline-start: var(--sp-2xl);
}

.pi-2xl {
  padding-inline: var(--sp-2xl);
}

.pie-2xl {
  padding-inline-end: var(--sp-2xl);
}

.pbs-3xl {
  padding-block-start: var(--sp-3xl);
}

.pb-3xl {
  padding-block: var(--sp-3xl);
}

.pbe-3xl {
  padding-block-end: var(--sp-3xl);
}

.pis-3xl {
  padding-inline-start: var(--sp-3xl);
}

.pi-3xl {
  padding-inline: var(--sp-3xl);
}

.pie-3xl {
  padding-inline-end: var(--sp-3xl);
}

.pbs-4xl {
  padding-block-start: var(--sp-4xl);
}

.pb-4xl {
  padding-block: var(--sp-4xl);
}

.pbe-4xl {
  padding-block-end: var(--sp-4xl);
}

.pis-4xl {
  padding-inline-start: var(--sp-4xl);
}

.pi-4xl {
  padding-inline: var(--sp-4xl);
}

.pie-4xl {
  padding-inline-end: var(--sp-4xl);
}

/* responsive growing */
.pbs-2xs-xs {
  padding-block-start: var(--sp-2xs-xs);
}

.pb-2xs-xs {
  padding-block: var(--sp-2xs-xs);
}

.pbe-2xs-xs {
  padding-block-end: var(--sp-2xs-xs);
}

.pis-2xs-xs {
  padding-inline-start: var(--sp-2xs-xs);
}

.pi-2xs-xs {
  padding-inline: var(--sp-2xs-xs);
}

.pie-2xs-xs {
  padding-inline-end: var(--sp-2xs-xs);
}

.pbs-xs-s {
  padding-block-start: var(--sp-xs-s);
}

.pb-xs-s {
  padding-block: var(--sp-xs-s);
}

.pbe-xs-s {
  padding-block-end: var(--sp-xs-s);
}

.pis-xs-s {
  padding-inline-start: var(--sp-xs-s);
}

.pi-xs-s {
  padding-inline: var(--sp-xs-s);
}

.pie-xs-s {
  padding-inline-end: var(--sp-xs-s);
}

.pbs-s-m {
  padding-block-start: var(--sp-s-m);
}

.pb-s-m {
  padding-block: var(--sp-s-m);
}

.pbe-s-m {
  padding-block-end: var(--sp-s-m);
}

.pis-s-m {
  padding-inline-start: var(--sp-s-m);
}

.pi-s-m {
  padding-inline: var(--sp-s-m);
}

.pie-s-m {
  padding-inline-end: var(--sp-s-m);
}

.pbs-m-l {
  padding-block-start: var(--sp-m-l);
}

.pb-m-l {
  padding-block: var(--sp-m-l);
}

.pbe-m-l {
  padding-block-end: var(--sp-m-l);
}

.pis-m-l {
  padding-inline-start: var(--sp-m-l);
}

.pi-m-l {
  padding-inline: var(--sp-m-l);
}

.pie-m-l {
  padding-inline-end: var(--sp-m-l);
}

.pbs-l-xl {
  padding-block-start: var(--sp-l-xl);
}

.pb-l-xl {
  padding-block: var(--sp-l-xl);
}

.pbe-l-xl {
  padding-block-end: var(--sp-l-xl);
}

.pis-l-xl {
  padding-inline-start: var(--sp-l-xl);
}

.pi-l-xl {
  padding-inline: var(--sp-l-xl);
}

.pie-l-xl {
  padding-inline-end: var(--sp-l-xl);
}

.pbs-xl-2xl {
  padding-block-start: var(--sp-xl-2xl);
}

.pb-xl-2xl {
  padding-block: var(--sp-xl-2xl);
}

.pbe-xl-2xl {
  padding-block-end: var(--sp-xl-2xl);
}

.pis-xl-2xl {
  padding-inline-start: var(--sp-xl-2xl);
}

.pi-xl-2xl {
  padding-inline: var(--sp-xl-2xl);
}

.pie-xl-2xl {
  padding-inline-end: var(--sp-xl-2xl);
}

.pbs-2xl-3xl {
  padding-block-start: var(--sp-2xl-3xl);
}

.pb-2xl-3xl {
  padding-block: var(--sp-2xl-3xl);
}

.pbe-2xl-3xl {
  padding-block-end: var(--sp-2xl-3xl);
}

.pis-2xl-3xl {
  padding-inline-start: var(--sp-2xl-3xl);
}

.pi-2xl-3xl {
  padding-inline: var(--sp-2xl-3xl);
}

.pie-2xl-3xl {
  padding-inline-end: var(--sp-2xl-3xl);
}

.pbs-3xl-4xl {
  padding-block-start: var(--sp-3xl-4xl);
}

.pb-3xl-4xl {
  padding-block: var(--sp-3xl-4xl);
}

.pbe-3xl-4xl {
  padding-block-end: var(--sp-3xl-4xl);
}

.pis-3xl-4xl {
  padding-inline-start: var(--sp-3xl-4xl);
}

.pi-3xl-4xl {
  padding-inline: var(--sp-3xl-4xl);
}

.pie-3xl-4xl {
  padding-inline-end: var(--sp-3xl-4xl);
}

/* responsive shrinking */
.pbs-xs-2xs {
  padding-block-start: var(--sp-xs-2xs);
}

.pb-xs-2xs {
  padding-block: var(--sp-xs-2xs);
}

.pbe-xs-2xs {
  padding-block-end: var(--sp-xs-2xs);
}

.pis-xs-2xs {
  padding-inline-start: var(--sp-xs-2xs);
}

.pi-xs-2xs {
  padding-inline: var(--sp-xs-2xs);
}

.pie-xs-2xs {
  padding-inline-end: var(--sp-xs-2xs);
}

.pbs-s-xs {
  padding-block-start: var(--sp-s-xs);
}

.pb-s-xs {
  padding-block: var(--sp-s-xs);
}

.pbe-s-xs {
  padding-block-end: var(--sp-s-xs);
}

.pis-s-xs {
  padding-inline-start: var(--sp-s-xs);
}

.pi-s-xs {
  padding-inline: var(--sp-s-xs);
}

.pie-s-xs {
  padding-inline-end: var(--sp-s-xs);
}

.pbs-m-s {
  padding-block-start: var(--sp-m-s);
}

.pb-m-s {
  padding-block: var(--sp-m-s);
}

.pbe-m-s {
  padding-block-end: var(--sp-m-s);
}

.pis-m-s {
  padding-inline-start: var(--sp-m-s);
}

.pi-m-s {
  padding-inline: var(--sp-m-s);
}

.pie-m-s {
  padding-inline-end: var(--sp-m-s);
}

.pbs-l-m {
  padding-block-start: var(--sp-l-m);
}

.pb-l-m {
  padding-block: var(--sp-l-m);
}

.pbe-l-m {
  padding-block-end: var(--sp-l-m);
}

.pis-l-m {
  padding-inline-start: var(--sp-l-m);
}

.pi-l-m {
  padding-inline: var(--sp-l-m);
}

.pie-l-m {
  padding-inline-end: var(--sp-l-m);
}

.pbs-xl-l {
  padding-block-start: var(--sp-xl-l);
}

.pb-xl-l {
  padding-block: var(--sp-xl-l);
}

.pbe-xl-l {
  padding-block-end: var(--sp-xl-l);
}

.pis-xl-l {
  padding-inline-start: var(--sp-xl-l);
}

.pi-xl-l {
  padding-inline: var(--sp-xl-l);
}

.pie-xl-l {
  padding-inline-end: var(--sp-xl-l);
}

.pbs-2xl-xl {
  padding-block-start: var(--sp-2xl-xl);
}

.pb-2xl-xl {
  padding-block: var(--sp-2xl-xl);
}

.pbe-2xl-xl {
  padding-block-end: var(--sp-2xl-xl);
}

.pis-2xl-xl {
  padding-inline-start: var(--sp-2xl-xl);
}

.pi-2xl-xl {
  padding-inline: var(--sp-2xl-xl);
}

.pie-2xl-xl {
  padding-inline-end: var(--sp-2xl-xl);
}

.pbs-3xl-2xl {
  padding-block-start: var(--sp-3xl-2xl);
}

.pb-3xl-2xl {
  padding-block: var(--sp-3xl-2xl);
}

.pbe-3xl-2xl {
  padding-block-end: var(--sp-3xl-2xl);
}

.pis-3xl-2xl {
  padding-inline-start: var(--sp-3xl-2xl);
}

.pi-3xl-2xl {
  padding-inline: var(--sp-3xl-2xl);
}

.pie-3xl-2xl {
  padding-inline-end: var(--sp-3xl-2xl);
}

.pbs-4xl-3xl {
  padding-block-start: var(--sp-4xl-3xl);
}

.pb-4xl-3xl {
  padding-block: var(--sp-4xl-3xl);
}

.pbe-4xl-3xl {
  padding-block-end: var(--sp-4xl-3xl);
}

.pis-4xl-3xl {
  padding-inline-start: var(--sp-4xl-3xl);
}

.pi-4xl-3xl {
  padding-inline: var(--sp-4xl-3xl);
}

.pie-4xl-3xl {
  padding-inline-end: var(--sp-4xl-3xl);
}
