/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.r-2xs:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 0.05);
}

.r-xs:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 0.2);
}

.r-s:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 0.5);
}

.r-m:not(.layout) {
  border-radius: var(--border-radius, 0.2rem);
}

.r-l:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 3);
}

.r-xl:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 6);
}

.r-2xl:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 12);
}

.r-3xl:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 36);
}

.r-4xl:not(.layout) {
  border-radius: calc(var(--border-radius, 0.2rem) * 104);
}

.r-2xs.layout .field__item > :is(img, svg), .r-2xs.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 0.05);
}

.r-xs.layout .field__item > :is(img, svg), .r-xs.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 0.2);
}

.r-s.layout .field__item > :is(img, svg), .r-s.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 0.5);
}

.r-m.layout .field__item > :is(img, svg), .r-m.layout [class*=cb-] {
  border-radius: var(--border-radius, 0.2rem);
}

.r-l.layout .field__item > :is(img, svg), .r-l.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 3);
}

.r-xl.layout .field__item > :is(img, svg), .r-xl.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 6);
}

.r-2xl.layout .field__item > :is(img, svg), .r-2xl.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 12);
}

.r-3xl.layout .field__item > :is(img, svg), .r-3xl.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 36);
}

.r-4xl.layout .field__item > :is(img, svg), .r-4xl.layout [class*=cb-] {
  border-radius: calc(var(--border-radius, 0.2rem) * 104);
}
