/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.aspect-auto {
  aspect-ratio: auto;
}

.aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.aspect-3-2 {
  aspect-ratio: 3 / 2;
}

.aspect-4-3 {
  aspect-ratio: 4 / 3;
}

.aspect-5-4 {
  aspect-ratio: 5 / 4;
}

.aspect-6-5 {
  aspect-ratio: 6 / 5;
}

.aspect-1-1 {
  aspect-ratio: 1 / 1;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.w-max-5rem {
  max-width: 5rem;
}

.w-max-10rem {
  max-width: 10rem;
}

.w-max-15rem {
  max-width: 15rem;
}

.w-max-20rem {
  max-width: 20rem;
}

.w-max-25rem {
  max-width: 25rem;
}

.w-max-30rem {
  max-width: 30rem;
}

.w-max-35rem {
  max-width: 35rem;
}

.w-max-40rem {
  max-width: 40rem;
}

.w-max-45rem {
  max-width: 45rem;
}

.w-max-50rem {
  max-width: 50rem;
}

.w-max-55rem {
  max-width: 55rem;
}

.w-max-60rem {
  max-width: 60rem;
}

.w-max-65rem {
  max-width: 65rem;
}

.w-max-70rem {
  max-width: 70rem;
}

.w-max-75rem {
  max-width: 75rem;
}

.w-max-80rem {
  max-width: 80rem;
}

.w-max-85rem {
  max-width: 85rem;
}

.w-max-90rem {
  max-width: 90rem;
}

.w-max-95rem {
  max-width: 95rem;
}

.w-max-100rem {
  max-width: 100rem;
}

.h-20 {
  height: 20%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.h-100 {
  height: 100%;
}

.h-max-5rem {
  max-height: 5rem;
}

.h-max-10rem {
  max-height: 10rem;
}

.h-max-15rem {
  max-height: 15rem;
}

.h-max-20rem {
  max-height: 20rem;
}

.h-max-25rem {
  max-height: 25rem;
}

.h-max-30rem {
  max-height: 30rem;
}

.h-max-35rem {
  max-height: 35rem;
}

.h-max-40rem {
  max-height: 40rem;
}

.h-max-45rem {
  max-height: 45rem;
}

.h-max-50rem {
  max-height: 50rem;
}

.h-max-55rem {
  max-height: 55rem;
}

.h-max-60rem {
  max-height: 60rem;
}

.h-max-65rem {
  max-height: 65rem;
}

.h-max-70rem {
  max-height: 70rem;
}

.h-max-75rem {
  max-height: 75rem;
}

.h-max-80rem {
  max-height: 80rem;
}

.h-max-85rem {
  max-height: 85rem;
}

.h-max-90rem {
  max-height: 90rem;
}

.h-max-95rem {
  max-height: 95rem;
}

.h-max-100rem {
  max-height: 100rem;
}
