/* NON GENERIC OPTIONS
 * Following options are only usefull for one css property.
 */
.ta-start {
  text-align: start;
}

.ta-center {
  text-align: center;
}

.ta-end {
  text-align: end;
}

.ta-justify {
  text-align: justify;
}

.ls-xs {
  letter-spacing: -0.1em;
}

.ls-s {
  letter-spacing: -0.06em;
}

.ls-l {
  letter-spacing: 0.06em;
}

.ls-xl {
  letter-spacing: 0.1em;
}

.ellipsis :is(p, a) {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word {
  word-wrap: break-word;
}
