@container (width < 5rem) {
  .cws-5 {
    display: none;
  }
}
@container (width < 10rem) {
  .cws-10 {
    display: none;
  }
}
@container (width < 15rem) {
  .cws-15 {
    display: none;
  }
}
@container (width < 20rem) {
  .cws-20 {
    display: none;
  }
}
@container (width < 25rem) {
  .cws-25 {
    display: none;
  }
}
@container (width < 30rem) {
  .cws-30 {
    display: none;
  }
}
@container (width < 35rem) {
  .cws-35 {
    display: none;
  }
}
@container (width < 40rem) {
  .cws-40 {
    display: none;
  }
}
@container (width < 45rem) {
  .cws-45 {
    display: none;
  }
}
@container (width < 50rem) {
  .cws-50 {
    display: none;
  }
}
@container (width < 55rem) {
  .cws-55 {
    display: none;
  }
}
@container (width < 60rem) {
  .cws-60 {
    display: none;
  }
}
@container (width < 65rem) {
  .cws-65 {
    display: none;
  }
}
@container (width < 70rem) {
  .cws-70 {
    display: none;
  }
}
@container (width < 75rem) {
  .cws-75 {
    display: none;
  }
}
@container (width < 80rem) {
  .cws-80 {
    display: none;
  }
}
@container (width > 5rem) {
  .cwh-5 {
    display: none;
  }
}
@container (width > 10rem) {
  .cwh-10 {
    display: none;
  }
}
@container (width > 15rem) {
  .cwh-15 {
    display: none;
  }
}
@container (width > 20rem) {
  .cwh-20 {
    display: none;
  }
}
@container (width > 25rem) {
  .cwh-25 {
    display: none;
  }
}
@container (width > 30rem) {
  .cwh-30 {
    display: none;
  }
}
@container (width > 35rem) {
  .cwh-35 {
    display: none;
  }
}
@container (width > 40rem) {
  .cwh-40 {
    display: none;
  }
}
@container (width > 45rem) {
  .cwh-45 {
    display: none;
  }
}
@container (width > 50rem) {
  .cwh-50 {
    display: none;
  }
}
@container (width > 55rem) {
  .cwh-55 {
    display: none;
  }
}
@container (width > 60rem) {
  .cwh-60 {
    display: none;
  }
}
@container (width > 65rem) {
  .cwh-65 {
    display: none;
  }
}
@container (width > 70rem) {
  .cwh-70 {
    display: none;
  }
}
@container (width > 75rem) {
  .cwh-75 {
    display: none;
  }
}
@container (width > 80rem) {
  .cwh-80 {
    display: none;
  }
}
